.mattsPhotographyPage {
    background-color: white;
    height: 100vh;
}

// .photographyImage {
//     display: flex;
//     justify-content: center;
// }


.photographyImage img {
    height: 200px;
    width: 200px;
}

.PhotoTitle {
    color: #797979
}
